<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="newsapp" transaction-type="RESOURCE_LOCAL">

        <class>com.company.newsapp.entity.Employee</class>
        <class>com.company.newsapp.entity.News</class>
        <class>com.company.newsapp.entity.NewsCategory</class>
    </persistence-unit>
</persistence>
